.boxes {
    margin : 2px;
}
.B1{
  width: 667px;
}
.B2{
  width: 458px;
}
.B3 {
    width:400px;
}
.header {
    background-color: rgb(247, 240, 240);
    margin:15px;
    padding: 6px;
}
td,th {
    width: 690px
}
th {
    background-color: rgb(214, 208, 208);
}
.Head {
    text-align : center;
}
tr {
    height : 48px;
}
td, th {
    height : 48px;
    border-bottom: 1px solid #ddd;    
    text-align: left;
}

.button, .Nav {
    display : inline-block;
    margin: 5px;
}
.join{
  margin-right: 10px;
  margin: 5px;
  padding: 5px;
}
.Nav {
    position: absolute;
    right: 20px;
}
.Message td {
    border : 1px solid grey;
    border-radius: 10px;
}
.type {
    height : 25px;
    border-radius: 5px;
    width: 100%;
}
.msg_type {
  display: inline-block;  
  width: 450px;
    
}
.enter {
    height : 30px;
    width : 60px;
    background-color: #e7e7e7; 
    border-style: inset;
}
.board {
  height:30px;
  background-color: rgb(25, 155, 206);
  border-radius: 6px;
  margin-right: 3px;
  border: none;
}

.scrollbar
{
	float: left;
	height: 300px;
	background: #F5F5F5;
  overflow-x: hidden;
  overflow-y: auto;
}
.force-overflow
{
  min-height: 550px;
}

/*  */

img {
    display: inline-block;
    width: 6%;
    margin-right: 9px;
  }
  .received_msg {
    display: inline-block;
    padding: 0 0 0 10px;
    vertical-align: top;
    width: 92%;
   }
   .received_withd_msg p {
    background: #ebebeb none repeat scroll 0 0;
    border-radius: 3px;
    color: #646464;
    font-size: 14px;
    margin: 0;
    padding: 5px 10px 5px 12px;
    width: 100%;
  }
  .time_date {
    color: #747474;
    display: block;
    font-size: 12px;
    margin: 8px 0 0;
  }
  .received_withd_msg { width: 57%;}
  .mesgs {
    float: left;
    padding: 5px 0px 0 7px;   
    width: 100%;  
  }
   .sent_msg p {
    background: #05728f none repeat scroll 0 0;
    border-radius: 3px;
    font-size: 14px;
    margin: 0; color:#fff;
    padding: 5px 10px 5px 12px;
    width:100%;
  }
  .outgoing_msg{ 
    overflow:hidden; 
    margin:26px 0 26px;
    padding-right: 35px;
  }
  .sent_msg {
    float: right;
    width: 46%;
  }
  .input_msg_write input {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    color: #4c4c4c;
    font-size: 15px;
    min-height: 48px;
    width: 100%;
  }
    .type_msg {
      border-top: 1px solid #c4c4c4;
      position: relative;
    }
  .msg_send_btn {
    background: #05728f none repeat scroll 0 0;
    border: medium none;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    font-size: 17px;
    height: 33px;
    position: absolute;
    right: 0;
    top: 11px;
    width: 33px;
  }
  

